.edit-profile-content{
    border-top: solid 1px #dfdede;
    display:flex;
    justify-content: center;
}
.middleColumn{
    width: 700px;

}
fieldset{
    margin-top: 30px;
    border:1.5px solid #dfdede;
    border-radius: 3px;
    padding-bottom: 30px;
}

.editProfile-menu{
    width:210px;
    background-color:white;
    border-radius:3px;
    color:black;
    margin: 15px auto 0px auto;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 2px;

}
.editMenu-option{
    display:flex;
    background-color: #e4f6fb;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    align-items:center;
    justify-content: center;
}
.editMenu-option-checked{
    background-color: #4bc0e3;
    color: white;
}
.editMenu-option:hover{
    cursor:pointer;
    background-color: #9dd2e2;
}

.edit-name{
    margin-left: 120px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-lastname{
    margin-left: 80px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-date{
    margin-left: 34px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-phone{
    margin-left: 95px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-insta{
    margin-left: 74px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-face{
    margin-left: 78px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-text{
    width: 100%;
    font: 15px arial;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid #dfdede;
}
.save-button{
    width: 100px;
    height: 30px;
    color: white;
    background-color:#3cdaa8;
    border: none;
    float: right;
    margin-right: 200px;
    border-radius: 3px;
}
.add-button{
    padding: 7px 15px;
    border: 1px solid #4bc0e3 ;
    float: right;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.edit-place{
    margin-left: 30px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
#edit-course, #edit-uni, #edit-price{
    font-size: 14px;
}
#edit-cities{
    height: 150px;
}
.edit-course{
    margin-left: 50px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-startdate{
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
    margin-left: 24px;
    display: inline-block;
    width:157px;
    padding: 3px;
}
.edit-enddate{
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    width:156px;
    padding: 3px;
    padding: 3px;
    margin-left: 25px;
    display: inline-block;
}

.edit-uni{
    margin-left: 45px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;

}
.edit-spec{
    margin-left: 78px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-title{
    margin-left: 103px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-lessons{
    margin-left: 68px;
    width: 480px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.edit-patric{
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
    margin-left: 24px;
    display: inline-block;
    width:150px;
    padding: 3px;
}
.edit-price{
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    width:150px;
    padding: 3px;
    padding: 3px;
    margin-left: 25px;
    display: inline-block;
}

.add-button:hover{
    background-color: rgb(235, 249, 255);
}
#basic-edit{
    display: block;
}

#specific-edit{
    display: none;
}
#calendar-edit{
    display: none;
}

#gallery-edit{
    display:none;
}

#password-edit{
    display:none;
}
#email-edit{
    display:none;
}

.edit-city{
    margin-left: 101px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px
}
.edit-voi{
    margin-left: 43px;
    width: 250px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    height: 20px;
    padding: 3px;
}
.a-decoration{
    text-decoration: none !important;
    cursor: pointer;
}
.city-add-button{
    padding: 7px 15px;
    border: 1px solid #4bc0e3;
    float: right;
    margin-right: 160px;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.single-add-button{
    padding: 7px 15px;
    border: 1px solid #4bc0e3;
    margin-left: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#show-uni ,#show-course ,#show-price, #show-cities{
    cursor:pointer;
    opacity: 0.7;
    font-size: 14px;
}
#uni-container, #offers-container{
    margin:0px !important;
}
#edit-uni ,#edit-course ,#edit-price {
    display: none;

}
#dyscypline-list-editprofile{
    font-size: 14px;
}

.dyscypline-column-editprofile{
    float:left;
    width:25%;
}

.edit-single-ofert, .edit-single-uni, .edit-single-cer{
    padding: 5px;
    margin: 2px;
    font-size: 14px;
    border: 1.5px solid #dfdede;
}

.single-ofert, .single-uni, .single-cer{
    padding: 10px;
    margin: 2px;
    line-height: 24px;
    border-radius: 2px;
    border: 1.5px solid #dfdede;
    margin-bottom: 15px;
    width: 580px;
    display: inline-flex;
    justify-content: space-between;
}
.pointer{
    cursor:pointer;
}
.edit-icon{
    font-size: 60px;
    color: #4bc0e3;
    margin-right: 20px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    bottom: -40px;
}
.edit-icon-uni{
    font-size:40px;
    color: #4bc0e3;
    margin-right: 20px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    bottom: -40px;
}
.edit-delete-section{
    font-size: 13px;
    opacity: 0.7;
    margin-top: 15px;
    margin-right: 15px;
}

.gallery-content{
    display:flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.gallery-photo{
    position: relative;
    object-fit: contain;
    width: 130px; 
    height: 140px;
    margin:15px;
    display:flex;
    align-items: center;
    background-color:#0000008f;
}
.gallery-photo:hover{
    transform: scale(1.1);
}
.gallery-photo .delete {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: white;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.gallery-photo .delete .fa-trash-alt:hover{
    transform: scale(1.2);
}
.gallery-photo img{
    width: 100%;
}

.profilePic img{
    width: 100%;
    height:100%;
}
.profilePic
{
    width:220px;
    height:220px;
    background-image: url('images/no-avatar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius:3px;

}


input[type=file]::-webkit-file-upload-button {

    padding: 6px 12px;
    border: 2px solid #4bc0e3 ;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.submit-b{
    color: white;
    background-color: #4bc0e3;
    border-radius: 8px;
    padding: 6px 12px;
    border: 1px solid #4bc0e3;
}


/* checkboxes*/

.container {
    display: block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      
    position: absolute;
    border-radius: 2px;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #4bc0e3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* RADIO BUTTONS */

/* The container */
.container-radio {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    padding-left: 23px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark-radio {
    background-color: #4bc0e3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark-radio:after {
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;

      border-radius: 50%;
      background: white;
  }