#passwdResetButton{
    margin-left: 68%;
}

.card{
    background-color: rgba(255,255,255,0.8);

}

.checkbox{
    float: left;
}

.form-group{
    margin-bottom: 0px !important;
}

body{
    background-image: url("images/logBG.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-size: 16px;
}

.btn-primary{
    background-color: #4bc0e3;
    border-color: #4bc0e3;
}

.btn-fb{
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-gplus{
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn-gplus i{
    color: white;
}

.btn-fb i{
    color: white;
}

