.profile-content{
    border-top: 1px solid #dfdede;
    display:flex;
    justify-content: center;
}

.categories
{
    width:830px;
    background-color: grey;
    color: black;
    margin: 30px 0px 0px 15px ;
    
}

.categories-header{
    background-color: #3cdaa8;
    padding: 10px;
    color: white;
}

.categories-content{
    padding: 15px;
    background-color: rgb(215, 250, 238);
    min-height: 150px;
    font-size:14px;
}

.profilePic
{
    width:220px;
    height:220px;
    background-image: url('images/no-avatar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius:3px;

}
.trener-details
{
    width:220px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius:3px;
    border: 1px solid #dfdede;
}



.section-menu
{
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    padding:0px;
    background-color: #3cdaa8;
    color: white;
    height: 40px;
    width: 830px;
    

}

.section-menu > li 
{
    height:40px;
    display: inline-block;
    cursor:pointer;
    padding: 5px 22px 0px 22px;
    border-right: solid 1px white;
}
.section-menu > li:last-child {
    border-right: none;
}

.date-review{
    width: 100px;
    top: 0px;
    position: absolute;
    left: 130px;
}
.show-number, .show-mail{
    font-size: 15px;
    color: #3cdaa8;
    cursor: pointer;
}

/* Cennik  */
#price-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #d9dad8;

}

#price-table td, #price-table th {
    padding: 8px;
}

#price-table tr:nth-child(even){background-color: #eeeded;}

#price-table tr:hover {background-color: rgb(199, 199, 199);}

#price-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    font-size: 13px;

}
#price-table tr:first-child th {
    font-size: 16px;

}
/* Cennik */

/* Podstawowe info */

.fa-map-marker-alt, .fa-phone, .fa-envelope, .fa-facebook, .fa-instagram, .fa-globe{
    color: #3cdaa8;
    margin-right: 5px;
    font-size: 15px;
}

.fa-bookmark, .fa-certificate, .fa-graduation-cap, .fa-calendar-alt, .fa-shopping-bag, .fa-images, .fa-comments{
    margin-right:5px;
    font-size: 17px;
}
.rating-info{
    margin-left: 5px;
    font-size:14px;
    margin-right: 5px;
}
.stars-info{
    font-size: 18px;
    margin-bottom: 5px;
}
.green-star-checked{
    color: #3cdaa8;
 }
 .green-star{
     color: #d4f9ed;
 }


.detail-info{
    margin-top:20px;
}
#name-info{
    margin-bottom: 2px;
}
#name-info, #phone-info, #mail-info{
    font-size: 18px;
}

#inst-info > a, #fb-info > a, #page-info >a {
    text-decoration: none;
    cursor:pointer;
    font-size: 16px;
    color:  #2f3a3d;
}
.detail-list
{
    list-style-type: none;
    color: black;
    margin: 0px;
    padding: 10px;
    font-size: 13px;
}

/* Podstawowe info */







.dark-star{
    color:#aed0c5f7;
}



.review-header{
    display:flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 8px;
}
.review-header-name{
    word-spacing: 20px;
}
.review-content{
    margin-bottom: 40px;
    font-size: 18px;

}

.review-input-name{
    margin-left:69px;
    height: 22px;
    border:none;
    margin-bottom: 10px;
    width: 200px;
    padding:5px;
}

.review-input-email{
    margin-left:20px;
    height: 22px;
    width: 200px;
    border:none;
    margin-bottom: 10px;
    padding:5px;
}

.review-input-description{
    border: none;
    padding: 10px;
    height: 200px;
    width: 800px;
    font-size: 18px;
}

.review-input-name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.6; /* Firefox */
    padding: 5px;
}
.review-input-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.6; /* Firefox */
    padding: 5px;
}
.review-input-description::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.6; /* Firefox */
    padding: 5px;
}
.submit-button{
    border-radius: 3px;
    width: 95px;
    height: 35px;
    position: relative;
    margin-left: 88%;
    color: white;
    background-color: #3cdaa8;
    border: none;
    margin-top: 5px;
}
.comment-box{
    border-top: 1px solid #dfdede;
    padding-top: 10px;
}

#section-nav
{
    margin:5px 0px 0px 15px;
}

.sticky{
    position: fixed;
    top:0;
    z-index:100;
    margin:0px;
}


.small-container{
    border-style: ridge;
    margin-bottom: 10px;
    font-size: 11px;
    position: relative;
}
.small-container > span{
    position: absolute;
    top: 5px;
    right:5px;
}

.small-container > p{
    font-size: 13px;
}


.gallery-content{
    display:flex;
    flex-wrap: wrap;
}

.gallery-photo{
    object-fit: contain;
    width: 170px; 
    height: 150px;
    margin:15px;
    display:flex;
    align-items: center;
    background-color:#0000008f;
}

.gallery-photo img{
    width: 100%;
}
.gallery-photo:hover{
    transform: scale(1.1);
}

.profilePic img{
    width: 100%;
    height:100%;
}

.training-cal{
    cursor: pointer;
    color:white;
}
#calendar{
    background-color:white;
    padding: 10px;
    border-radius: 4px;
}
.fc-agendaWeek-view tr {
    height: 40px;
}
.dotted{
    display:inline-block;
    width:210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-info-circle, .fa-wpforms{
    color: #3cdaa8;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.form-input{
    border-radius: 5px;
    padding: 2px;
    border: 1.5px solid #dfdede;
}

.save-button{
    width: 100px;
    color: white;
    background-color: #3cdaa8;
    border: none;
    float: right;
    padding: 7px;
    border-radius: 3px;
}
.eventPlace{
    text-align: center;
    padding-top: 15px;
    background-color: #e4f6fb;
    border: 1px solid grey;
    margin-top: 5px;
    border-radius: 4px;
    padding-bottom: 15px;
    cursor: pointer;
    /* height: 20px; */
}

.eventPlaceCheked{
    text-align: center;
    padding-top: 15px;
    background-color: #4bc0e3;
    border: 1px solid grey;
    margin-top: 5px;
    border-radius: 4px;
    padding-bottom: 15px;
    cursor: pointer;
    /* height: 20px; */
}