.categories
{
    width:630px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    color: black;
    margin: 15px;
    border-radius:3px;
}

.leftColumn
{
    width: 20%;
    float:left;
    height: 300px;
}

.middleColumn
{
    float:left;
    width:70%;
}

#ads
{
    height: 600px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.596);
    float:left;
    border-radius: 4px;
}

.profilePic
{
    width:150px;
    height:150px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    border-radius:3px;

}
.trener-details
{
    width:150px;
    height:150px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    border-radius:3px;
}
.detail-list
{
    list-style-type: none;
    color: black;
    margin: 0px;
    padding: 10px;
    font-size: 12px;
    min-height: 38px;
    line-height: 200%;
}

.detail-list > li
{
    margin-top: 5px;
}

.section-menu
{
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding:0px;
}

.section-menu > li 
{
    display: inline-block;
    border-right: 1px dashed #0a2b42;
    cursor:pointer;
    padding: 5px 35px 0px 35px;
}

.section-menu > li:first-child
{
    border-left: 1px dashed #0a2b42;

}

#section-nav
{
    height:30px;
    width:670px;
    background-color:rgb(255, 255, 255);
    color: black;
    border-radius:3px;
    margin:5px 15px 20px 15px;
}

.sticky{

    
    width:100%;
    position: fixed;
    top:0;
    z-index:100;
    margin:0px;
}


.review-record{
    border-style: ridge;
    margin-bottom: 10px;
    font-size: 11px;
    position: relative;
}
.review-record > span{
    position: absolute;
    top: 5px;
    right:5px;
}

.review-record > p{
    font-size: 13px;
}