#filter-section{
    height: 500px;
    width: 14%;
    background-color:grey;
    margin-left:1%;
    margin-top:10px;
    border-radius:3px;
}
#filter-container{
    flex-wrap: wrap;
    display: flex;
    height: 135px;
    background-color: #eeeeee;
    border: 1px solid #dfdede;
    padding: 20px 60px;
    height:auto;
}
.main-filter{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey
}
.discipline-value {
    font-size: 25px;
    margin-left:15px;
    margin-right:15px;
    font-weight: bold;
    align-self:flex-end;
    padding-bottom: 10px;
}
.result-value{
    font-size: 15px;
    align-self:flex-end;
    padding-bottom: 10px;
    margin-left:20px;
} 
.filter-text{
    align-self:flex-end;
    padding-bottom: 10px;
}
.place-filter, .age-filter, .sex-filter, .prize-filter{
    width: 220px;
    margin-right: 20px;
    align-self:flex-end;
    margin-bottom:5px;
}
.button-filter{
    margin-left: 40px;
    font-size:14px;
}
.button-filter > a{
    text-decoration: none;
    color: black;
    font-size:14px;
}

#header-section{

    height: 40px;
    width: 87%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    background-color:grey;
    border-radius:3px;
    font-size: 21px;
    padding: 4px 0px 0px 3% ;
    letter-spacing: 1px;
    word-spacing: 10px;
    

}
.right-segment{
    margin-left: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 15px;
}
.right-segment > .green-button {
    align-self: flex-end;
    background-color: #3cdaa8;
    color: white;
    width: 125px;
    margin-bottom: 15px;
}

.right-segment > .stars {
    align-self: flex-end;
}

#trainers-box{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    
    height: 530px;

}
.profile-info{
    width:70%;
}
.profile-info p:nth-child(2){
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profiles-content{
    padding: 40px 40px;
    margin-left: 8%;
    margin-right: 8%;
}

.single-trainer-result{
    margin-top:15px;
    display: flex;
    width:100%;
    height: 160px;
    cursor: pointer;
    border-bottom: solid 1px #bebebe;
}

.name-surname{
    margin-top:10px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.profile-picture{
    height:150px;
    width: 150px;
    background-color:white;
    margin-left: 10px;
    margin-right:10px;
    background-image: url('images/no-avatar.png');

}
.profile-picture img{
    width: 100%;
    height:100%;
}

.green-star-checked{
   color: #3cdaa8;
}
.green-star{
    color: #d4f9ed;
}

.disciplines-select{
    width: 220px;
    height: 38px;
    padding: 0px 0px 0px 10px;
    margin: 0px 10px;
    font-size: 17px;
}
#city-search-results{
    margin-left: 10px;
    width: 220px;
    height: 38px;
    padding: 0px 10px;
    border: 1px solid lightgrey;
    font-size: 17px;
}
#clearAll{
    cursor:pointer;
}