#search-section{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 130px;
    justify-content: center;
    margin-top:50px;
    width:100%;
    background-color: rgba(204, 204, 204, .5);
}
#content{
    padding:0px;
}
.search-list{
    display: inline-block;
    list-style-type: none;
    
}
.search-title{
    padding-top: 70px;
    text-align:center;
    width:70%;
    color:white;
    margin-right:auto;
    margin-left:auto;
}
.search-list > li{
    display: inline-block;
    font-size: 20px;
    background-color: white;
    padding: 5px 5px 5px 10px;
    width: 200px;
    text-align: left;
    margin-left:15px;
    border-radius: 4px;
    height: 40px;
    margin-top:45px;
    opacity: 1;

}
#search-button{
    opacity: 1;
    width: 150px;
    height: 55px;
    border: 1px;
}
.input-search{
    border: none;
    height:30px;
    font-size:20px;
    width:150px;
}
.input-search:focus{
    outline:none;
}
.input-px-diff{
    top:1px;
    position:relative;
}

#disciplines-select{
    width:350px;
    margin-right:20px;
    height: 55px;
}
#city-search{
    width:350px;
    height: 55px;
    margin-right:20px;
    border: 1px;
    padding: 6px 12px 6px 12px;
}