body
{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.blue-button{
    color: white;
    width: 180px;
    height: 50px;
    background-color: #4bc0e3;
    border-radius: 8px;
    margin-left: 40px;
}

#logBar
{
    height: 100px;
    cursor: pointer;
}

#logBar > .logo {
    width: 316px;
    height: 100px;
    background-image: url(images/logo-alpha.png);
    background-size: contain;
    margin-right: 15px;
    margin-top: 10px;
    background-repeat: no-repeat;
    font-size: 25px;
    display: inline-block;
}

#logBar > a >.logo {
    width: 316px;
    height: 100px;
    background-image: url(images/logo-alpha.png);
    background-size: contain;
    margin-right: 15px;
    margin-top: 10px;
    background-repeat: no-repeat;
    font-size: 25px;
<<<<<<< HEAD
}

#logBar a {

=======
    display: inline-block;
>>>>>>> parent of 6360e9a... auth views
}
#logBar > .logo
{
    width: 316px;
    height: 100px;
    background-image: url('images/logo-alpha.png');
    margin-right:15px;
    font-size:25px;
    display:inline-block
}

#logBar > span
{
    float:right;
    margin-top: 25px;
    margin-right: 15px;
    font-size: 16px;
}
#logBar > span > a
{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
    transition: 0.2s;
}

#content
{
    opacity: 0.95;
    height: 400px;
    background-color: rgba(221, 210, 210,0.8);
    background-image: url(images/athlete.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px;
}

/* login register mobile */
/* nav select {
    display: none;
  }
@media (max-width: 768px) {
    nav span     { display: none; }
    nav select { display: inline-block; }
  } */