body
{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.blue-button{
    color: white;
    width: 180px;
    height: 50px;
    background-color: #4bc0e3;
    border-radius: 8px;
    margin-left: 40px;
}

#logBar
{
    height: 100px;
}

#logBar > .logo
{
    width: 316px;
    height: 100px;
    background-image: url('images/logo.png');
    margin-right:15px;
    font-size:25px;
    display:inline-block
}

#logBar > span
{
    float:right;
    margin-top: 25px;
    margin-right: 15px;
    font-size: 16px;
}
#logBar > span > a
{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
    transition: 0.2s;
}

#content
{
    opacity: 0.8;
    height:400px;
    background-color:rgb(221, 210, 210,0.8);
    background-image: url('images/athlete.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* login register mobile */
/* nav select {
    display: none;
  }
@media (max-width: 768px) {
    nav span     { display: none; }
    nav select { display: inline-block; }
  } */